#navbar {
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  .brand {
    font-weight: bold;
    span {
      color: $ldmi;
    }
    .logo {
      margin-bottom: 0.2em;
    }
  }
}

// .navbar {
//
//   align-items: center;
//   // padding: 0.5rem 1rem;
//

//   @media (max-width: 768px) {
//     position: static;
//   }

//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;

//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

//   background-color: white;

//   &__left {
//     flex: 1;

//     h1 {
//       display: inline-block;
//       font-weight: normal;
//       font-family: 'Noto Serif', serif;

//       span {
//         font-weight: bold;
//         color: $unixmib;
//         font-family: 'Noto Sans', sans-serif;
//       }
//     }

//     img {
//       height: 2.5rem;
//       margin-right: 0.5rem;
//     }

//     a {
//       color: $black;
//       display: flex;
//       align-items: center;

//       @media (max-width: 768px) {
//         justify-content: center;
//       }

//       &:hover {
//         text-decoration: none;
//       }
//     }
//   }

//   &__right {
//     font-size: 1.4rem;

//     li {
//       list-style: none;
//       display: inline-block;
//     }
//     @media (max-width: 768px) {
//       li {
//         display: block;
//       }
//     }
//     @media (min-width: 769px) {
//       li {
//         &::before {
//           content: '-';
//         }
//         &:first-child::before {
//           content: '';
//         }
//       }
//     }

//     a {
//       display: inline-block;
//       font-weight: lighter;

//       margin: 0.25rem;
//       color: $black;
//     }
//   }

//   @media (max-width: 768px) {
//     &__left,
//     &__right {
//       text-align: center;
//     }

//     &__right a {
//       display: block;
//     }

//     &__right .divider {
//       display: none;
//     }
//   }
// }
