#index {
  #hero {
    @include cover-background('../assets/hero.jpg', true);
    // top: 3rem;
    padding: 3rem 2.5rem 5rem 2.5rem;

    // margin-top: 3.9rem;
    width: 100%;
    color: white;
    .container {
      margin-top: 15hv;
      vertical-align: center;
    }

    @media (max-width: 768px) {
      margin-top: 0;
    }

    .title {
      color: white;
      // font-size: 2.5rem;
      font-weight: normal;
      font-family: 'Noto Serif', serif;

      @include tshadow;
      span {
        color: $ldmi;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
      }

      span.unixmib {
        color: $unixmib;
      }
    }

    .subtitle {
      @include tshadow;
      color: white;
    }

    .scroll {
      margin-top: 4em;
    }
  }

  section {
    margin: 0 auto;
    padding: 2rem 0.5rem;
    color: white;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 70px 0 100px;

    span {
      color: $ldmi;
    }

    h2 {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      display: inline-block;
      font-weight: lighter;
      font-size: 2.25rem;
    }

    .faicon {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      color: $black;
      display: block;
      font-size: 5rem;
      margin: 0.5rem auto;
      height: 5rem;
    }

    .desc {
      font-size: 1.5rem;
      font-weight: lighter;
      max-width: 90%;
      margin: 0 auto;

      .h2 {
        display: inline-block;
        font-weight: 500;
        color: $ldmi;
        font-size: 1.5rem;
        line-height: 1.3rem;
      }
    }

    @import 'index/explore';

    &#schedule {
      background-color: #75b46e;
      padding: 4 2.5rem;
      .inspire {
        left: 2.5rem;
        position: absolute;
        max-width: 400px;
        @media (max-width: 992px) {
          visibility: hidden;
        }
      }
      .text {
        padding-left: 30rem;
        @media (max-width: 992px) {
          padding-left: 4rem;
          padding-right: 4rem;
        }
      }
      .hide-col {
        @media (max-width: 768px) {
          visibility: hidden;
        }
      }
    }

    // &#sponsors {

    // }

    &#contattaci {
      background-color: #f7ab24;
      color: $black;

      #ear {
        position: absolute;
        left: 0;
        top: 0;
        @media (max-width: 992px) {
          visibility: hidden;
        }
      }

      .text {
        padding-left: 35rem;
        @media (max-width: 992px) {
          padding: 0 4rem 0
        }
        ul {
          list-style-type: none;
        }
      }

      .front {
        z-index: 999;
      }
    }
  }

  footer {
    color: white;
    background-color: #212121;
    text-align: center;
    padding: 2rem 2.5rem 2rem;
    span {
      color: $ldmi;
    }
    span.unixmib {
        color: $unixmib;
      }
  }
}
