#mercatino-home {
  #hero {
    @include cover-background('../assets/hero.jpg', true);

    padding: 5rem;
    margin-top: 3.9rem;

    @media (max-width: 768px) {
      margin-top: 0;
      padding: 0px;
    }

    #jumbotron-container {
      @media (max-width: 768px) {
        padding: 0px;
        margin: 0px;
        max-width: 100%;
        #jumbotron {
          border-radius: 0rem;
        }
      }
    }

    .button {
      margin-right: 0.2em;
      margin-bottom: 0.2em;
      margin-left: 0.2em;
      @media (max-width: 575px) {
        width: 100%;
      }
    }

    .title {
      color: white;
      font-size: 2.5rem;
      font-weight: normal;
      font-family: 'Noto Serif', serif;

      @include tshadow;
      span {
        color: $unixmib;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
      }
    }

    .subtitle {
      @include tshadow;
      color: white;
    }
  }

  section {
    margin: 0 auto;
    padding: 2rem 0.5rem;

    h2 {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      display: inline-block;
      font-weight: lighter;
      font-size: 2.25rem;
      line-height: 1.1rem;
    }

    .faicon {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      color: $black;
      display: block;
      font-size: 5rem;
      margin: 0.5rem auto;
      height: 5rem;
    }

    .desc {
      font-size: 1.5rem;
      font-weight: lighter;
      max-width: 90%;
      margin: 0 auto;

      .h2 {
        display: inline-block;
        font-weight: 500;
        color: $unixmib;
        font-size: 1.5rem;
        line-height: 1.3rem;
      }
    }
  }
}
