html {
  scroll-behavior: smooth;
}

.tinted {
  color: $unixmib;
}

@mixin tshadow() {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.unixmib {
  span {
    &.mib {
      color: $unixmib;
    }

    &.unix {
      font-family: var(--#{$variable-prefix}font-monospace);
    }
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -5.9rem;
  visibility: hidden;

  @include media-breakpoint-down(sm) {
    top: -11rem;
  }
}

.event:hover {
  background-color: #d7d7d7;
}

@media (prefers-color-scheme: dark) {
  .event:hover {
    background-color: #454545;
  }

}
