@for $i from 1 through 25 {
  .vh#{5*$i} {
    height: 5vh * $i;
  }
}

@for $i from 1 through 25 {
  .h#{5*$i} {
    height: 5% * $i;
  }
}

@for $i from 1 through 25 {
  .eh#{5*$i} {
    height: 5em * $i;
  }
}

.hc,
.center {
  text-align: center;
}

.hl,
.left {
  text-align: left;
}

.hr,
.right {
  text-align: right;
}

.vc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.light-text {
  font-weight: lighter;
}

.normal-text {
  font-weight: normal;
}

.tinted {
  color: $unixmib;
}

@mixin cover-background($imageUrl, $overlay) {
  @if $overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url($imageUrl) no-repeat center center fixed;
  } @else {
    background: url($imageUrl) no-repeat center center fixed;
  }
  background-size: cover;
}

@mixin tshadow() {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

// container class
/*.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*/
