@for $i from 1 through 25 {
  .vh#{5*$i} {
    height: 5vh * $i;
  }
}

@for $i from 1 through 25 {
  .h#{5*$i} {
    height: 5% * $i;
  }
}

@for $i from 1 through 25 {
  .eh#{5*$i} {
    height: 5em * $i;
  }
}

.hc,
.center {
  text-align: center;
}

.hl,
.left {
  text-align: left;
}

.hr,
.right {
  text-align: right;
}

.vc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.light-text {
  font-weight: lighter;
}

.normal-text {
  font-weight: normal;
}

.tinted {
  color: $unixmib;
}

@mixin cover-background($imageUrl, $overlay) {
  @if $overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url($imageUrl) no-repeat center center fixed;
  } @else {
    background: url($imageUrl) no-repeat center center fixed;
  }
  background-size: cover;
}

@mixin tshadow() {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
