&#explore {
  background-color: #c34c39;
  background-image: url(../assets/event-bg.jpg);
  padding: 100px 2.5rem 150px;

  @media (max-width: 767px) {
    background-size:cover
  }

  .watch {
    left: 0;
    top: 15%;
    position: absolute;
    z-index: 1;

    @media (max-width: 991px) and (min-width: 768px) {
      left: -8%;
    }

    @media (max-width: 767px) {
      visibility: hidden;
    }
  }

  .text {
    @media (min-width: 610px) {
      min-width: 600px;
    }
    @media (min-width: 991px) {
      padding-left: 10rem;
    }
  }

  .front {
    z-index: 999;
  }

  #countdown {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }

  #countdown li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
  }

  #countdown li:last-child {
    margin-right: 0;
  }

  #countdown li span {
    display: block;
    font-size: 40px;
    font-weight: 700;
    height: 82px;
    line-height: 79px;
    width: 75px;
    border-radius: 10px;
    border-right: 1px solid #9e3e2e;
    border-bottom: 1px solid #9e3e2e;
  }

  #countdown li .days {
    background-color: #45b29d;
    border-top: 1px solid #6ac1b1;
    border-left: 1px solid #6ac1b1;
  }

  #countdown li .hours {
    background-color: #efc94c;
    border-top: 1px solid #f2d470;
    border-left: 1px solid #f2d470;
  }

  #countdown li .minutes {
    background-color: #e27a3f;
    border-top: 1px solid #e89565;
    border-left: 1px solid #e89565;
  }

  #countdown li .seconds {
    background-color: #df5a49;
    border-top: 1px solid #e57b6d;
    border-left: 1px solid #e57b6d;
  }

  #countdown li:before {
    background-color: #ffffff;
    content: '';
    height: 11px;
    left: 0;
    position: absolute;
    top: 36px;
    width: 1px;
  }

  #countdown li:after {
    background-color: #ffffff;
    content: '';
    height: 11px;
    right: 0;
    position: absolute;
    top: 36px;
    width: 1px;
  }


/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
  #countdown li {
    margin-right: 30px;
  }

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

 
 #countdown li {
  margin-right: 15px;
 }


}

/* xs */
@media (max-width: 767px) { 

  #countdown li {
    font-size: 14px;
    margin-right:35px;
    width:inherit;
  }

  #countdown li span {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }

  #countdown li:before, 
  #countdown li:after {
    top:25px;
  }


}

/* XS Portrait */
@media (max-width: 479px) {


  /* Explore */
  #explore {
    background-size:cover;
  }

  #explore h2 {
    float: inherit;
    font-size: 30px;
    margin-bottom: 30px;
  }  

  #countdown li {
    font-size: 14px;
    margin-right: 15px;
    width: 45px;
  }

  #countdown li span {
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    width: 45px;
  }

  #countdown li:before, 
  #countdown li:after {
    top: 18px
  }


}
}
